QCheckBox::indicator {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
}

QCheckBox::indicator:unchecked {
    image: url(:/image/unchecked_checkBox.png);
}

QCheckBox::indicator:checked {
    image: url(:/image/checked_checkBox.png);
}

QMainWindow {
    background-color: rgb(46, 47, 48);
}
